<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Selamat Datang di Aplikasi Node.js</h1>
        <ul>
            <li><a href="/views/mahasiswa.html">Daftar Mahasiswa</a></li>
            <li><a href="/views/dosen.html">Daftar Dosen</a></li>
            <li><a href="/views/relasi.html">Relasi Mahasiswa & Dosen</a></li>
            <li>
                <a href="/data/mahasiswa.json">Lihat Data Mahasiswa (JSON)</a>
            </li>
            <li><a href="/data/dosen.json">Lihat Data Dosen (JSON)</a></li>
        </ul>
    </body>
</html>
